.loading-overlay{
    position: absolute;
    display:inline-block;
    margin: 0 auto;
    z-index: 1;
    width:99%;
    margin-top:20em;
    text-align: center;
}

.loading-status{
    margin-top:1em;
}