.year-input{
    text-align: center;
    display:flex;
    justify-content: center;
}

#genre-options{
    text-align: center;
    justify-content: center;
    display: flex;
}
#optionsDisplay{
    background-color: white;
    align-content: center;
    z-index: 1;
}

.optionButton{
    padding:0 !important;
    min-width: 3em !important;
    float: right;
}

#closeOptions{
    background-color: red;
}

#saveOptions{
    background-color: green;
}

#minYear{
    max-width: 4em;
}

#guess-button{
    padding: 0.9em 1em;
    background-color: orange;
}

#giveup-button{
    padding: 0.9em 1em;
    background-color: darkred;
}

#giveup-div{
    display: flex;
    align-items: center;
}

.guess-input{
    display:flex;
    justify-content: center;
}

.loading-overlay{
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    z-index: 1;
    width: 50%;
    margin-top: 20em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);;
    padding: 4em 0em;
    margin-left: 25%;
    min-width: 40%;
}

.win-banner{
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    z-index: 1;
    width: 50%;
    margin-top: 20em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4em 0em;
    margin-left: 25%;
    min-width: 40%;
}

.giveup-banner{
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    z-index: 1;
    width: 50%;
    margin-top: 20em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4em 0em;
    margin-left: 25%;
    min-width: 40%;
}

.loading-status{
    margin-top:1em;
}

input[type=text] {
    padding: 12px 20px;
    margin: 0.5em 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    max-width: 10em;
}

#submit-button{
    padding: 0.9em 1em;
}

label{
    color:grey;
}

#options-icon{
    font-size:x-large;
}

#options{
    padding:0.5em;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right:1em;
    background-color: #1d3557;
    color:white;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    min-width: 2em;
    margin-left:88.5%;
}

button:disabled{
    padding:2em;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right:1em;
    background-color: grey !important;
    color:lightgrey;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    position: relative;

}

@media only screen and (max-width:1100px){
    .loading-overlay{
        margin-top:30em;
    }
    
}

@media only screen and (max-width:550px){
    .loading-overlay{
        margin-top:5em;
    }
}